@model IEnumerable<LoginSupermarketW6.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status1.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status1.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupID })
        </td>
    </tr>
}

</table>
